<article class="post-card group">
  <a class="insert-link" href="{{ .Permalink }}"></a>

  <figure class="post-card__media">
    {{- $img := .Params.image | default "images/default-placeholder.png" -}}
    {{- if (strings.HasPrefix $img "http") -}}
      <img class="post-card__image" src="{{ $img }}" alt="{{ .Title }}">
    {{- else -}}
      {{- with $cardImage := resources.Get $img -}}
        <img class="post-card__image" src="{{ $cardImage.Permalink }}" alt="{{ .Title }}" width="{{ $cardImage.Width }}" height="{{ $cardImage.Height }}">
      {{- else -}}
        <img class="post-card__image" src="{{ $img | relURL }}" alt="{{ .Title }}">
      {{- end -}}
    {{- end -}}
  </figure>

  <div class="post-card__body">
    {{- $primaryTag := "" -}}
    {{- $primaryCat := "" -}}
    {{- with .Params.tags }}{{ $primaryTag = index . 0 }}{{ end -}}
    {{- with .Params.categories }}{{ $primaryCat = index . 0 }}{{ end -}}
    {{- $label := cond $primaryTag $primaryTag $primaryCat -}}

    <div class="post-card__meta">
      {{- if $label -}}
        <span class="post-card__tag">{{ $label | humanize }}</span>
      {{- end -}}
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ .Date.Format "Jan 02, 2006" }}</time>
    </div>

    <h3 class="post-card__title">{{ .LinkTitle }}</h3>
    <p class="post-card__excerpt line-clamp-2">{{ .Params.description }}</p>
  </div>
</article>
